---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">
	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Mehdi Teisseire</h1>
			<p class="hero__text">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit.
				Eveniet distinctio reprehenderit quibusdam voluptatibus
			</p>
			<Boton href="#" texto="Find more about me !" />
		</div>
		<img
			class="hero__img"
			src="/img/mehdi-teisseire.jpg"
			alt="Mehdi Teisseire"
			height="200"
			width="200"
		/>
	</div>
</section>
