---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia quas
			iste totam est sapiente voluptatem officiis, fuga tenetur nobis sit
			neque cumque culpa accusamus ipsam voluptatum rem facilis voluptate
			veritatis!
		</p>
	</div>
</section>
