---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/public/img/mehdi-teisseire.jpg"
			alt="profil picture"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About me" />
			<p class="about__text">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Sapiente iure voluptas ex nemo aut ullam at, placeat aliquam
				incidunt ut sint quisquam provident eveniet, suscipit, quasi
				fugiat fuga unde libero?
			</p>
			<SocialIcons width="25" height="25" />
		</div>
	</div>
</section>
