---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nom="Mehdi Teisseire">
	<div class="terminal__skills">
		<h2>My stack</h2>
		<div class="terminal__skills__container">
			<TerminalIcon src="/assets/C-test.svg" color="#00D1FF" name="C" />
			<TerminalIcon src="/assets/Rust2.svg" color="#FF781C" name="Rust" />
			<TerminalIcon
				src="/assets/Cplusplus.svg"
				color="#00D1FF"
				name="C ++"
			/>
			<TerminalIcon
				src="/assets/react.svg"
				color="#00D1FF"
				name="React"
				<
			/>
		</div>
	</div>
</Terminal>
